


body {
	padding: 0;
	margin: 0;
	font-family: Cambria, serif;
	background-color: grey;
	width: 100%}

h1 {
	color: white;
	font-family: Helvetica, sans-serif;
	text-align: left;
	margin-bottom: 0;
	display: inline-block;}

h2 {
	color: white;
	font-size: 1em;
	text-align: left;
	margin-top: 0;
}

h3 {
	color: white;}

h4 {
	margin: 0;}

p {
	color: white;
	line-height: normal;
	display: inline-block;}

div {
	background-color: inherit;
	padding: 3% 15%;
	text-align: center;}

header {
	margin: 0;
	background-color: grey;
	padding: 2% 4%;}

footer {
	background-color: grey;
	padding: 2% 4%;}

a {
	color: inherit;
	font-style: italic;
	text-decoration: none;}

a:hover {
	text-decoration: underline;}

ul {
	list-style-type: none;
/*	display: inline-block; NOT NEEDED*/ 
	float: right;
	padding: 0;
	margin: 0;}

li {
	color: white;
	background-color: purple;
	display: inline-block;
	padding: 10px;}

/*table {
	color: white;
	width: 100%;}

td {
	padding: 20px;
	text-align: justify;}*/

.example {
	color: white;
	text-align: justify;
	padding: 2%;}

.subtitle {
	margin-bottom: 0;
	color: beige;
	font-style: italic;}

#about {
	background-color: #49262b;}

#resume {
	padding: 10px 25px;
	border-radius: 10px;
	margin-top: 10px;
	display:inline-block;
	font-style: normal;
	background-color: grey;
	color: white;}

#projects {
	background-color: #2c3e50;}

#reading {
	background-color: #663300;}

#navbar {
	margin-top: 40px;}

