


body {
	padding:0;
	margin:0;
	background-image: url("Forest.jpg");
	background-size: cover;
   	background-repeat-x: no-repeat;
    	background-repeat-y: no-repeat;
	background-color: #2c3e50}

h1 {
	color: white;
	text-align:left;
	margin-bottom:0px}

h2 {
	color: white;
	text-align:left;
	margin-top:5px}

p {
	color: white;}

div {
	background-color:#2c3e50;
	padding:20px;}

img {
	display:inline-block;
	border-radius:15px}

a {
	text-align:center;
	margin:0px;
	padding:0px;
	color:#A52A2A;
	text-decoration:none;
	font-weight:bold}

a:hover {
	text-decoration:underline}

div p {
	color:#A52A2A}

#about {
	width:65%;	
	margin:10px;
	margin-left: 0px;
	padding:25px;
	background-color:white;
	border-radius:5px;
	display:inline-block;
	position:absolute;
	height:300px}

#left_resume {
	background-color:white;
	padding:10px;
	margin:10px;
	border-radius:5px;
	display:inline-block;}

#image {
	float:left;
	margin-left:152px;
	margin-right:10px;}




