


body {
	padding: 0;
	margin: 0;
	font-family: Cambria, serif;
	background-color: grey;}

h1 {
	color: white;
	font-family: Helvetica;
	text-align: left;
	margin-bottom: 0;
	display: inline-block;}

h2 {
	color: white;
	font-size: 1em;
	text-align: left;
	margin-top: 0.5em;
}

h3 {
	color: white;}

p {
	color: white;
	display: inline-block;}

div {
	background-color: inherit;
	padding: 3% 15%;
	text-align: center;}

header {
	background-color: grey;
	padding: 2% 4%;
	width: 100%;
	display: inline-block;}

footer {
	background-color: grey;
	padding: 2% 4%;
	width: 100%;
	display: inline-block;}

a {
	color: inherit;
	font-style: italic;
	text-decoration: none;}

a:hover {
	text-decoration: underline;}

ul {
	list-style-type: none;
	display: inline-block;
	float: right;
	padding-right: 180px;}

li {
	color: white;
	background-color: purple;
	display: inline-block;
	padding: 10px;}

#about {
	background-color: #49262b;}

#projects {
	background-color: #2c3e50;}

#reading {
	background-color: #663300;}

#navbar {
	margin-top: 40px;}

