


body {
	padding: 0;
	margin: 0;
	font-family: Cambria, serif;
	background-color: grey;
	width: 100%;
}

header {
	/*background: url("UC.jpg");*/
	background: url("images/header_background.png");
	background-size: cover;
	background-position: center;
	margin: 0;
	padding: 2% 4%;
	text-align: center;
}

h1 {
	color: purple;
	font-family: Helvetica, sans-serif;
	margin-bottom: 0;
	display: inline-block;
}

h2 {
	color: purple;
	font-family: Garamond, serif;
	margin-top: 0;
}

h3 {
	color: white;
}

h4 {
	margin: 0;
	display: inline-block;
}

p {
	color: white;
	line-height: normal;
	display: inline-block;
}

div {
	background-color: inherit;
	padding: 3% 15%;
	text-align: center;
}

footer {
	background-color: grey;
	padding: 2% 4%;
}

a {
	color: inherit;
	font-style: italic;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

li {
	color: white;
	background-color: purple;
	display: inline-block;
	padding: 10px;
}

.contact_info {
	float: right;
}

.example {
	color: white;
	text-align: justify;
	padding: 2%;}

.subtitle {
	margin-bottom: 0;
	color: beige;
	font-style: italic;}

.year {
	display: inline-block;
}

#headshot {
	border: 5px solid grey;
	border-radius: 50%;
	width: 10em;
	display: block;
	margin: auto;
}

#navbar {
	margin-top: 40px;
}

#about {
	background-color: #2c3e50;
}

#projects {
	background-color: #49262b;
}

#reading {
	background-color: #663300;
}

#resume {
	padding: 10px 25px;
	border-radius: 10px;
	margin-top: 10px;
	display:inline-block;
	font-style: normal;
	background-color: grey;
	color: white;}
